.init {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
	cursor: grab;
}


.target {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
	cursor: grab;
}


.agent {
    position: absolute;
}


#inputRadius {
    width: 80px;
}


#config {
    position: absolute;
}

img {
    user-select: none;
}

#map {
    position: absolute;
    transform-origin: top left;
    image-rendering: crisp-edges;
}