.init {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    cursor: grab;
    width: 32px;
    height: 32px;
}


.target {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    cursor: grab;
    width: 32px;
    height: 32px;
}


.agent {
    position: absolute;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

#inputRadius {
    width: 80px;
}


sep {
    margin-right: 16px;
}

#background {
    background-color: rgb(204, 255, 128);
}

img {
    user-select: none;
    image-rendering: pixelated;
}

#map {
    position: absolute;
}


#nosolution,
#config,
#initAndTargets,
#paths,
#communication {
    position: absolute;
    left: 0px;
    top: 0px;
}


#paths polyline {
    stroke: gray;
    fill: none;
    stroke-dasharray: 2;
}


#nosolution {
    background-color: white;
    color: red;
    opacity: 0.9;

}


@keyframes communicationEdgeActiveAnimation {
    0% {
        stroke: rgb(64, 64, 128);
        stroke-dasharray: 4, 1, 2
    }

    33% {
        stroke: rgb(49, 128, 255);
        stroke-dasharray: 2, 1, 4;
    }

    66% {
        stroke: rgb(97, 28, 85);
        stroke-dasharray: 1, 4, 2;
    }
}


#communication polyline {
    stroke: blue;
    border-style: dashed;
    stroke-width: 2px;
    stroke-dasharray: 4 1 2;
    fill: none;
    animation-name: communicationEdgeActiveAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}