.init {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    cursor: grab;
    width: 32px;
    height: 32px;
}


.target {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    cursor: grab;
    width: 32px;
    height: 32px;
}


.agent {
    position: absolute;
}


#inputRadius {
    width: 80px;
}


#config {
    position: absolute;
}

#background {
    background-color: rgb(204, 255, 128);
}

img {
    user-select: none;
    image-rendering: pixelated;
}

#map {
    position: absolute;
    transform-origin: top left;
    image-rendering: crisp-edges;
}