.init {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
	cursor: grab;
}


img {
    user-select: none;
}

#map {
    position: absolute;
    transform-origin: top left;
    image-rendering: crisp-edges;
}